@media (min-width:1024px ) {
    .gradient-background {
        background: linear-gradient(300deg, #8585ff, #6ebeff, #EEEEEE);
        background-size: 180% 180%;
        animation: gradient-animation 5s ease infinite;
      }
      
      @keyframes gradient-animation {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
    
    a {
        text-decoration: none;
    }
    
    .header-container {
        background-image: url(./assets/images/white-with-low-poly-network-connection_1017-29753.jpg);
        border-radius: 1rem;
        padding-bottom: 4rem;
    }
    
    .header {
        display: flex;
        height: 10%;
        justify-content: space-between;
        align-items: center;
        padding: 0% 2%;
        padding-top: 1rem;
    }
    
    .header-logo {
        cursor: pointer;
    }
    
    
    .nav-items {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-family: 'Poppins', sans-serif;
        font-size: large;
        font-weight: 200;
    }
    
    .nav-items .btn {
        font-family: 'Poppins', sans-serif;
        background-color: transparent;
        border-radius: 1rem;
        border: 1px solid black;
        padding: 10px 20px;
        cursor: pointer;
    }
    
    .nav-items .btn:hover {
        background-color:#068FFF;
        color: #EEEEEE;
        border: 0px;
        border-radius: 1rem;
    }
    
    
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10%;
        padding: 5% 0%;
    }
    
    .center-text {
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        font-size: larger;
        width: 50%;
    }
    
    .name {
        color: #068FFF ;
        font-weight: bolder;
    }
    
    .center-text p {
        text-transform:none;
    }
    
    .adapt {
        font-weight: bolder;
    }
    
    .resources {
        display: flex;
        justify-content: flex-start;
        gap: 2rem;
    }
    
    .cv {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
    }
    
    .email {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
    }
    
    .resources .btn:hover{
        background-color: #068FFF;
        color: #EEEEEE;
        border: 0px;
    }
    
    .profile-img {
        height: 20rem;
        border-radius: 50%;
        cursor: pointer;
    }
    
    
    .education {
        display: flex;
        justify-content: center;
        align-items:flex-start;
        gap: 3rem;
        padding-top: 2rem;
    }
    
    .formal-education {
        width: 40%;
        background-color: #EEEEEE;
        border-radius: 1rem;
        font-family: 'Poppins', sans-serif;
        padding: 1rem 0.5rem;
    }
    
    .formal-education h2 {
        text-align: left;
        font-size: x-large;
        padding-left: 2rem;
    }
    
    .formal-education .listed {
        list-style: none;
    }
    
    
    .formal-education .listed h4 {
        font-weight: bolder;
        font-size: larger;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    
    .course {
        display: flex;
        gap: 1rem;
        padding-top: 5px;
    }
    
    .course button {
        height: 30px;
        border-radius: 10px;
    }
    
    .informal-education {
        width: 40%;
        height: 100vh;
        background-color: #EEEEEE;
        border-radius: 1rem;
        font-family: 'Poppins', sans-serif;
        padding: 1rem 0.5rem;
    }
    
    .informal-education h2 {
        text-align: left;
        font-size: x-large;
        padding-left: 2rem;
    }
    
    .informal-education .listed {
        list-style: none;
    }
    
    .informal-education .listed h4 {
        font-weight: bolder;
        font-size: larger;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    
    .btn:hover {
        background-color: #068FFF;
        color: #EEEEEE;
        border: 0;
        border-radius: 10px;
    }
    
    .work-experience h2 {
        text-align: left;
        font-family: 'Poppins', sans-serif;
        padding-top: 1rem;
        padding-left: 6rem;
    }
    
    .works {
        display: flex;
        flex-direction: column;
        padding: 0rem 1rem;
        justify-content: center;
        gap: 2rem;
        align-items: center;
    }
    
    .company {
        width: 83%;
        background-color: #EEEEEE;
        border-radius: 1rem;
        padding: 1rem;
        font-family: 'Poppins', sans-serif;
        padding-left: 3rem;
    }
    
    .skills {
        margin-top: 1rem;
        padding-left: 6rem;
        padding-top: 1rem;
    }
    
    .skills h2 {
        font-family: 'Poppins', sans-serif;
    }
    
    .skills-list {
        width: 83%;
        background-color: #EEEEEE;
        border-radius: 1rem;
        font-family: 'Poppins', sans-serif;
        padding: 1rem 3.5rem;
    }
    
    .organizations {
        margin-top: 1rem;
        padding-left: 6rem;
        padding-top: 1rem;
    }
    
    .organizations h2 {
        font-family: 'Poppins', sans-serif;
    }
    
    .organizations-list {
        width: 83%;
        background-color: #EEEEEE;
        border-radius: 1rem;
        font-family: 'Poppins', sans-serif;
        padding: 1rem 3.5rem;
    }
    
    .seminars {
        margin-top: 1rem;
        padding-left: 6rem;
        padding-top: 1rem;
    }
    
    .seminars h2 {
        font-family: 'Poppins', sans-serif;
    }
    
    .seminars-list {
        width: 83%;
        background-color: #EEEEEE;
        border-radius: 1rem;
        font-family: 'Poppins', sans-serif;
        padding: 1rem 3.5rem;
    }
    
    
    
    
    .contact {
        display: flex;
        justify-content: space-between;
        height: 250px;
        background-image: url(./assets/images/white-with-low-poly-network-connection_1017-29753.jpg);
        padding: 1rem 3rem;
        margin-top: 2rem;
        align-items: center;
        border-radius: 1rem;
    }
    
    .footer-logo {
        height: 100px;
    }
    
    .footer-contact {
        font-family: 'Poppins', sans-serif;
        padding-right: 2rem;
    }
    
}

@media (min-width:768px) and (max-width:1023px) {
    .gradient-background {
        background: linear-gradient(300deg, #8585ff, #6ebeff, #EEEEEE);
        background-size: 180% 180%;
        animation: gradient-animation 5s ease infinite;
      }
      
      @keyframes gradient-animation {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
    
    a {
        text-decoration: none;
    }
    
    .header-container {
        background-image: url(./assets/images/white-with-low-poly-network-connection_1017-29753.jpg);
        border-radius: 1rem;
        padding-bottom: 2.3rem;
        width: 100%;
    }
    
    .header {
        display: flex;
        height: 10%;
        justify-content: space-between;
        align-items: center;
        padding: 0% 2%;
        padding-top: 1rem;
        flex-direction: column;
    }
    
    .header-logo {
        cursor: pointer;
        padding-top: 1rem;
    }
    
    
    .nav-items {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        font-family: 'Poppins', sans-serif;
        font-size: medium;
        font-weight: 200;
    }
    
    .nav-items .btn {
        font-family: 'Poppins', sans-serif;
        background-color: transparent;
        border-radius: 1rem;
        border: 1px solid black;
        padding: 0.3rem 0.5rem;
        cursor: pointer;
    }
    
    .nav-items .btn:hover {
        background-color:#068FFF;
        color: #EEEEEE;
        border: 0px;
        border-radius: 1rem;
    }
    
    
    .center {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        gap: 10%;
        padding: 5% 0%;
    }
    
    .center-text {
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        font-size: small;
        width: 50%;
        text-align: center;
    }
    
    .name {
        color: #068FFF ;
        font-weight: bolder;
    }
    
    .center-text p {
        text-transform:none;
    }
    
    .adapt {
        font-weight: bolder;
    }
    
    .resources {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    
    .cv {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
    }
    
    .email {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        cursor: pointer;
    }
    
    .resources .btn:hover{
        background-color: #068FFF;
        color: #EEEEEE;
        border: 0px;
    }
    
    .profile-img {
        height: 15rem;
        border-radius: 50%;
        cursor: pointer;
    }
    
    
    .education {
        display: flex;
        justify-content: center;
        align-items:flex-start;
        gap: 3rem;
        padding-top: 2rem;
    }
    
    .formal-education {
        width: 40%;
        background-color: #EEEEEE;
        border-radius: 1rem;
        font-family: 'Poppins', sans-serif;
        padding: 1rem 1rem;
    }
    
    .formal-education h2 {
        text-align: left;
        font-size: large;
        padding-left: 1rem;
    }
    
    .formal-education .listed {
        list-style: none;
        padding: 0rem 1rem;
    }
    
    
    .formal-education .listed h4 {
        font-weight: bolder;
        font-size: medium;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    
    .course {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-top: 0.5rem;
    }
    
    .course button {
        height: 1.5rem;
        border-radius: 10px;
    }
    
    .informal-education {
        width: 40%;
        background-color: #EEEEEE;
        border-radius: 1rem;
        font-family: 'Poppins', sans-serif;
        padding: 1rem 0.5rem;
    }
    
    .informal-education h2 {
        text-align: left;
        font-size: large;
        padding-left: 1rem;
    }
    
    .informal-education .listed {
        list-style: none;
        padding: 0rem 1rem;
    }
    
    .informal-education .listed h4 {
        font-weight: bolder;
        font-size: medium;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    
    .btn:hover {
        background-color: #068FFF;
        color: #EEEEEE;
        border: 0;
        border-radius: 10px;
    }
    
    .work-experience h2 {
        text-align: left;
        font-family: 'Poppins', sans-serif;
        padding-top: 1rem;
        padding-left: 3rem;
    }
    
    .works {
        display: flex;
        flex-direction: column;
        padding: 0rem 1rem;
        justify-content: center;
        gap: 2rem;
        align-items: center;
    }
    
    .company {
        width: 87%;
        background-color: #EEEEEE;
        border-radius: 1rem;
        padding: 1rem;
        font-family: 'Poppins', sans-serif;
        padding-left: 3rem;
        font-size: medium;
    }
    
    .skills {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 1rem 2rem;
    }
    
    .skills h2 {
        font-family: 'Poppins', sans-serif;
    }
    
    .skills-list {
        background-color: #EEEEEE;
        border-radius: 1rem;
        font-family: 'Poppins', sans-serif;
        padding: 1rem 1rem;
    }
    
    .organizations {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 1rem 2rem;
    }
    
    .organizations h2 {
        font-family: 'Poppins', sans-serif;
    }
    
    .organizations-list {
        background-color: #EEEEEE;
        border-radius: 1rem;
        font-family: 'Poppins', sans-serif;
        padding: 1rem 1rem;
    }
    
    .seminars {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 1rem 2rem;
    }
    
    .seminars h2 {
        font-family: 'Poppins', sans-serif;
    }
    
    .seminars-list {
        background-color: #EEEEEE;
        border-radius: 1rem;
        font-family: 'Poppins', sans-serif;
        padding: 1rem 1rem;
    }
    

    .contact {
        display: flex;
        justify-content: space-between;
        height: 250px;
        background-image: url(./assets/images/white-with-low-poly-network-connection_1017-29753.jpg);
        padding: 1rem 3rem;
        margin-top: 2rem;
        align-items: center;
        border-radius: 1rem;
    }
    
    .footer-logo {
        height: 100px;
    }
    
    .footer-contact {
        font-family: 'Poppins', sans-serif;
        padding-right: 2rem;
    }
    
}


@media (min-width:300px) and (max-width:767px) {
    .gradient-background {
        background: linear-gradient(300deg, #8585ff, #6ebeff, #EEEEEE);
        background-size: 180% 180%;
        animation: gradient-animation 5s ease infinite;
      }
      
      @keyframes gradient-animation {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
    
    a {
        text-decoration: none;
    }
    
    .header-container {
        background-image: url(./assets/images/white-with-low-poly-network-connection_1017-29753.jpg);
        border-radius: 1rem;
        padding: 0.5rem 0rem;
        border: 0%;
    }
    
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .header-logo {
        cursor: pointer;
        height: 2rem;
        padding: 0rem;
        border: 0rem;
    }
    
    
    .nav-items {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 0.2rem;
        padding: 0rem;
        border: 0rem;
    }
    
    .nav-items .btn {
        font-family: 'Poppins', sans-serif;
        background-color: transparent;
        border-radius: 1rem;
        border: 1px solid black;
        padding: 0.1rem 0.2rem;
        cursor: pointer;
        font-size: 0.3rem;
    }
    
    .nav-items .btn:hover {
        background-color:#068FFF;
        color: #EEEEEE;
        border: 0px;
        border-radius: 1rem;
    }
    
    
    .center {
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        gap: 10%;
    }
    
    .center-text {
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        font-size: xx-small;
        width: 80%;
        text-align: center;
    }
    
    .name {
        color: #068FFF ;
        font-weight: bolder;
    }
    
    .center-text p {
        text-transform:none;
    }
    
    .adapt {
        font-weight: bolder;
    }
    
    .resources {
        display: flex;
        justify-content: space-evenly;
    }
    
    .cv {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        border-radius: 0.5rem;
        padding: 0.3rem 0.2rem;
        cursor: pointer;
        font-size: smaller;
        border: 1px solid black;
    }
    
    .email {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        border-radius: 0.5rem;
        padding: 0.3rem 0.2rem;
        cursor: pointer;
        font-size: smaller;
        border: 1px solid black;
    }
    
    .resources .btn:hover{
        background-color: #068FFF;
        color: #EEEEEE;
        border: 0px;
    }
    
    .profile-img {
        height: 6rem;
        border-radius: 50%;
        cursor: pointer;
    }
    
    
    .education {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding-top: 1rem;
    }
    
    .formal-education {
        background-color: #EEEEEE;
        border-radius: 1rem;
        font-family: 'Poppins', sans-serif;
        padding: 1rem 1rem;
    }
    
    .formal-education h2 {
        text-align: left;
        font-size: medium;
        padding-left: 0.6rem;
    }
    
    .formal-education .listed {
        list-style: none;
        padding: 0rem 0.5rem;
        font-size: small;
    }
    
    
    .formal-education .listed h4 {
        font-weight: bolder;
        font-size: small;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    
    .course {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        padding-top: 0.5rem;
    }
    
    .course button {
        height: 1rem;
        border-radius: 1rem;
        border: 1px solid black;
        font-size: smaller;
    }
    
    .informal-education {
        background-color: #EEEEEE;
        border-radius: 1rem;
        font-family: 'Poppins', sans-serif;
        padding: 1rem 1rem;
    }
    
    .informal-education h2 {
        text-align: left;
        font-size: medium;
        padding-left: 0.6rem;
    }
    
    .informal-education .listed {
        list-style: none;
        padding: 0rem 0.5rem;
        font-size: small;
    }
    
    .informal-education .listed h4 {
        font-weight: bolder;
        font-size: small;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    
    .btn:hover {
        background-color: #068FFF;
        color: #EEEEEE;
        border: 0;
        border-radius: 10px;
    }
    
    .work-experience h2 {
        font-family: 'Poppins', sans-serif;;
        text-align: left;
        font-size: medium;
        padding-left: 1rem;
    }
    
    .works {
        display: flex;
        flex-direction: column;
        padding: 0rem;
        justify-content: center;
        gap: 1rem;
        align-items: center;
    }
    
    .company {
        background-color: #EEEEEE;
        border-radius: 1rem;
        font-family: 'Poppins', sans-serif;
        padding: 0.5rem 1rem;
        font-size: small;
    }
    
    .skills {
        display: flex;
        flex-direction: column;
        padding: 0rem;
        justify-content: center;
        align-items: center;
    }
    
    .skills h2 {
        font-family: 'Poppins', sans-serif;;
        text-align: left;
        font-size: medium;
        padding-left: 0rem;
    }
    
    .skills-list {
        background-color: #EEEEEE;
        border-radius: 1rem;
        font-family: 'Poppins', sans-serif;
        padding: 0.5rem 1rem;
        font-size: small;
    }

    .organizations h2 {
        font-family: 'Poppins', sans-serif;
        padding-left: 1rem;
        font-size: medium;
    }

    .organizations {
        display: flex;
        flex-direction: column;
        padding: 0rem;
        justify-content: center;
        align-items: left;
    }
    

    .organizations-list {
        background-color: #EEEEEE;
        border-radius: 1rem;
        font-family: 'Poppins', sans-serif;
        padding: 0.5rem 1rem;
        font-size: small;
    }
    
    .seminars {
        display: flex;
        flex-direction: column;
        padding: 0rem;
        justify-content: center;
        align-items: left;
    }
    
    .seminars h2 {
        font-family: 'Poppins', sans-serif;
        padding-left: 1rem;
        font-size: medium;
    }
    
    .seminars-list {
        background-color: #EEEEEE;
        border-radius: 1rem;
        font-family: 'Poppins', sans-serif;
        padding: 0.5rem 1rem;
        font-size: small;
    }
    

    .contact {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        background-image: url(./assets/images/white-with-low-poly-network-connection_1017-29753.jpg);
        padding: 0.1rem 1rem;
        margin-top: 2rem;
        align-items: center;
        border-radius: 1rem;
    }
    
    .footer-logo {
        height: 3rem;
    }
    
    .footer-contact {
        font-family: 'Poppins', sans-serif;
        font-size: x-small;
        text-align: center;
    }
    
}
